[submodule "explorer"]
	path = explorer
	url = git@github.com:wujifengcn/explorer.git
[submodule "libs/bft-smart"]
	path = libs/bft-smart
	url = git@github.com:wujifengcn/bftsmart.git
[submodule "project"]
	path = project
	url = git@github.com:wujifengcn/jdchain-project.git
[submodule "framework"]
	path = framework
	url = git@github.com:wujifengcn/jdchain-framework.git
	branch = 1b8f848
[submodule "core"]
	path = core
	url = git@github.com:wujifengcn/jdchain-core.git
[submodule "test"]
	path = test
	url = git@github.com:wujifengcn/jdchain-test.git
[submodule "libs/kvdb"]
	path = libs/kvdb
	url = git@github.com:wujifengcn/jdchain-kvdb.git 

[submodule "libs/binary-proto"]
	path = libs/binary-proto
	url = git@github.com:wujifengcn/binary-proto.git
[submodule "libs/utils"]
	path = libs/utils
	url = git@github.com:wujifengcn/utils.git
[submodule "libs/httpservice"]
	path = libs/httpservice
	url = git@github.com:wujifengcn/httpservice.git
